# CPP_EXAMPLE/.gitignore

## Documentation ==========================================================
# * See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## Local  =================================================================
*/.local
*/.vscode 
*/dev/build
# * remove .vscode from the .gitignore for save default .vscode setting 
